<nav class="navbar shadow-md position-sticky top-0 z-index-9 bg-white">
  <div class="container flex-x-between py-20">
    <h6 class="text-weight-700 s18-h24">World's Holiday</h6>
   <div class="flex">
    <span
    class="cursor-pointer flex align-items-center mr-16"
    (click)="toggleTheme()"
  >
    <span class="material-icons mr-5"> dark_mode </span>
    {{ !darkTheme ? ' Dark' : 'Light' }} Mode
  </span>
  <span
    class="cursor-pointer flex align-items-center"
    (click)="logout()"
  >
    <span class="material-icons mr-5"> logout </span>
     Logout
  </span>
   </div>
  </div>
</nav>
